@use "../../css/brand" as brand;

$text-color: rgb(163, 169, 163);

.subscription_container {
    margin-bottom: 10px;

    & > .subscription {
        padding-bottom: 20px;
        box-shadow: 0px 2px 0px 0px rgba(180, 178, 178, 0.3);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-radius: 5px;

        & > .header {
            margin-bottom: 10px !important;
            padding: 5px 10px !important;
            color: brand.$header-color;
            background-color: brand.$header-bgcolor !important;
            text-align: center;
            font-size: 1.3rem;
            border-radius: 5px 5px 0px 0px !important;
        }

        & > .intro_text {
            text-align: justify;
            padding: 10px;
            color: $text-color;
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            margin-bottom: 0px;
        }

        & > span {
            display: block;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 10px;
            font-family: fantasy;
            font-size: 1rem;
            color: $text-color;
        }

        & > .input_box {
            display: flex;
            justify-content: space-evenly;
            padding: 0px 10px;

            & > input[type="email"] {
                padding: 5px 10px;
                width: 70%;
                font-size: 1rem;
                border: none;
                outline: 1px solid rgb(224, 224, 224);
                border-radius: 3px;
                transition: all 0.1s ease-in-out;

                &:focus {
                    outline: 1px solid rgb(79, 148, 171);
                }
            }
            & > input[type="button"] {
                padding: 5px 10px;
                flex: 0.2;
                color: white;
                border: 1px solid white;
                border-radius: 5px;
                background-color: $text-color;
                font-weight: 700;
                transition: all 0.1s ease-in-out;

                &:hover {
                    cursor: pointer;
                    background-color: rgb(104, 185, 104);
                    transition: all 0.1s ease-in-out;

                    &:active {
                        background-color: black;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .subscription_container {
        margin: 5px;
    }
}
