body {
    /* background-image: url(./light_bg_natural.jpg); */
    background-color: rgba(241, 238, 222, 0.521);
    background: linear-gradient(135deg, rgb(231, 226, 226), rgb(226, 209, 189));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

:root {
    --bg_light: rgb(247, 244, 232);
    --bg_dark: rgb(43, 37, 37);
}
