@use "../../css/brand" as brand;

.category_page {
    position: relative;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 15px;
    & .header {
        margin-bottom: 10px;
        color: brand.$header-color;
        font-size: var(--header-font-size);
        font-weight: 500;
        padding: 7px 10px;
        border-radius: 5px 5px 0 0;
        font-size: var(--header-font-size);
        background-color: brand.$header-bgcolor;
        opacity: 0.9;
    }
    & .category_page_body {
        flex: 1;
    }
}

.main-ul {
    list-style: none;
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    & > :last-child {
        margin-bottom: 100px;
    }
    li {
        width: 100%;
        height: 200px;
        margin: 10px 0px;
        border: 1px solid white;
        .list_wrapper {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            transition: all 0.1s ease-in-out;
            background-color: rgb(241, 242, 243);

            & .img_container {
                position: relative;
                display: flex;
                align-items: center;
                box-sizing: border-box;
                width: 35%;
                padding: 10px;
                height: 100%;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            & .text {
                flex: 1;
                padding: 10px 20px;
                padding-left: 20px;
                border-left: 2px solid var(--wrapper-border-color);

                & > .post_title {
                    & > a {
                        cursor: pointer;
                        font-family: var(--post-title);
                        font-weight: 100;
                        color: var(--title-color);
                        font-size: var(--title-font-size);
                        font-style: normal;
                    }
                }
                .text_meta {
                    font-weight: 300;
                    font-size: var(--meta-font-size);
                }
                .text_body {
                    padding-top: 10px;
                    font-weight: 400;
                    color: var(--card-text-color);
                    text-align: justify;
                    font-size: var(--text-font-size);
                }
            }

            &:hover {
                z-index: 2;
                background-color: white;
                box-shadow: -5px -5px 20px 2px var(--white-shadow);
                margin-left: 5px;
                margin-top: 2px !important;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .category_page {
        padding: 5px;
        border: none !important;
        margin: 20px 0 10px 0;
        margin-top: 0px;
        .header {
            text-align: center;
        }
    }

    .main-ul {
        margin: 0px;

        & > li {
            margin: 2px 0px;
            height: 400px;
            &:last-child {
                margin: 0px !important;
            }
            & > .list_wrapper {
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                width: 100%;
                height: 100%;
                padding: 20px;
                box-sizing: border-box;
                border: none;
                border-radius: 0px;
                transition: box-shadow 0.2s ease-in-out, margin-left 0.2s ease-in-out,
                    margin-top 0.2s ease-in-out, height 0.2s ease-in-out;

                & .img_container {
                    position: relative;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    box-sizing: border-box;
                    width: 50%;
                    padding: 2px;
                    height: 80%;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                & .text {
                    flex: 1;
                    padding: 5px;
                    border: none;

                    .post_title {
                        font-weight: 500;
                        font-size: 1.1rem;
                    }
                    .text_meta {
                        font-weight: 300;
                        font-size: 1rem;
                    }
                    .text_body {
                        padding-top: 10px;
                        font-weight: 400;
                        color: rgb(100, 100, 100);
                        // text-align: justify;
                        font-size: 1rem;
                    }
                }

                &:hover {
                    z-index: 2;
                    background-color: rgb(241, 240, 240);
                    box-shadow: none;
                    cursor: pointer;
                    margin-left: 0px !important;
                    margin-top: 0px !important;
                    border: none;
                    background-color: var(--card-bg-color);
                }
            }
        }
    }
}
