.category_page {
    position: relative;
    border: 2px solid var(--wrapper-border-color);
    background-color: white;
    padding: 30px;
    flex: 1;
    .header {
        color: rgb(255, 255, 255);
        font-size: 1.6rem;
        font-weight: 500;
        padding: 5px 10px;
        border-radius: 3px;
        background-color: var(--category-page-header);
    }
}

.main-ul {
    list-style: none;
    margin: 0px;
    margin-top: 50px;
    padding: 0px;
    & > :last-child {
        margin-bottom: 100px;
    }
    li {
        display: flex;
        width: 100%;
        // height: 160px;
        margin: 20px 0px;
        box-shadow: 0 0px 5px 2px var(--content-border-color);
        border-radius: 3px;
        transition: box-shadow 0.2s ease-in-out, margin-left 0.2s ease-in-out;
        &:hover {
            box-shadow: -5px 0px 10px 2px var(--content-hover-color);
            cursor: pointer;
            margin-left: 5px;
        }
    }
    & .img_container {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        width: 35%;
        padding: 10px;
        height: 100%;
        img {
            width: 100%;
            height: auto;
        }
        // border: 1px solid red;
    }
    & .text {
        flex: 1;
        padding: 10px 20px;
        padding-left: 20px;
        border-left: 2px solid var(--wrapper-border-color);
        // border: 1px solid red;

        h3 {
            font-weight: 500;
            font-size: 1.2rem;
        }
        .text_meta {
            font-weight: 300;
            font-size: 0.9rem;
        }
        .text_body {
            padding-top: 10px;
            font-weight: 400;
            color: rgb(100, 100, 100);
            text-align: justify;
            font-size: 0.9rem;
        }
    }
}
