.card_wrapper {
    width: 30%;
    height: 350px;
    box-sizing: border-box;
    float: left;

    & > .card {
        border: 1px white solid;
        border-radius: 3px;
        width: 100%;
        height: 100%;
        padding: 0px 20px;
        box-sizing: border-box;
        overflow: hidden;
        cursor: pointer;

        transition: background-color 0.1s ease-in-out;

        .card_content {
            & > h3 {
                font-weight: 200;
                margin: 0px;
                margin-top: 30px;
                font-family: var(--post-title);
                font-size: var(--title-font-size);
                color: var(--title-color);
                .views {
                    font-weight: 400;
                    font-size: 1.1rem;
                    color: green;
                }
            }
            & > .subtitle {
                font-size: var(--meta-font-size);
                color: var(--category-text-color);
                font-weight: 600;
            }
            & > p {
                margin-top: 5px;
                font-weight: 300;
                padding: 5px 2px;
                font-weight: 400;
                font-size: var(--text-font-size);
                color: var(--card-text-color);
            }
        }

        & > .image_container {
            width: 100%;
            height: 150px;
            margin: 10px 0px;
            & > img {
                width: 100%;
                height: auto;
            }
        }
    }
}

.card_animation {
    height: 100% !important;
    & > p {
        transition: font-weight 0.1s ease-in-out;
    }
    & > h3 > .views {
        transition: font-weight 0.1s ease-in-out;
    }
    &:hover {
        background-color: rgb(255, 255, 255);
        cursor: pointer;
        font-size: 16px;
        border: 1px solid rgb(218, 213, 213);
        & > h3 {
            color: var(--link-hover);
            .views {
                text-decoration: none;
                font-weight: 500;
                color: green;
            }
        }
    }
}

// SCREEN SIZE 1024px
@media screen and (max-width: 1024px) {
    .card_wrapper {
        width: 100%;
        height: fit-content;
        margin-bottom: 10px;
        padding: 0px 10px !important;
        box-sizing: border-box;
        background-color: white !important;
        & > .card {
            display: flex;
            align-items: center;
            border: 1px solid rgba(168, 108, 108, 0.24);
            background-color: rgb(235, 235, 235) !important;
            box-shadow: none;
            border-radius: 3px;
            width: 100%;
            height: 100%;
            min-height: 180px;
            box-sizing: border-box;
            overflow: hidden;
            cursor: pointer;
            .card_content {
                flex: 1;
                & > h3 {
                    margin-top: 0px;
                }
            }
            & > .image_container {
                width: 30%;
                margin: 10px 0px;
                display: flex;
                align-items: center;
                margin-right: 20px;

                & > img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .card_animation {
        & > p {
            transition: font-weight 0.1s ease-in-out;
        }
        & > h3 > .views {
            transition: font-weight 0.1s ease-in-out;
        }
        &:hover {
            background-color: rgb(255, 255, 255);
            cursor: pointer;
            font-size: 16px;
            & > h3 {
                color: var(--link-hover);
                .views {
                    text-decoration: none;
                    font-weight: 500;
                    color: green;
                }
            }
        }
    }
}
