.modal {
    position: fixed;
    top: 40%;
    left: 50%;
    z-index: 5;
    opacity: 0;
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    padding: 10px 0px;
    border: 1px solid rgba(173, 35, 35, 0.603);
    color: rgb(209, 209, 209);
    background-color: rgb(57, 68, 82);
    box-shadow: 0px 0px 50px 5px rgba(36, 34, 34, 0.452);
    border-radius: 3px;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, opacity 0.3s ease-in-out;

    & > .error_text {
        color: red;
        text-align: center;
    }

    & > .title {
        opacity: 0;
        padding: 5px 10px;
        font-weight: 500;
        text-align: center;
        font-size: 1.4rem;
        transition: opacity 0.5s ease-in;
    }
    & > .text,
    .prompt_text {
        opacity: 0;
        font-size: 1.1rem;
        padding: 5px 20px;
        font-weight: 400;
        text-align: center;
        transition: opacity 0.5s ease-in-out;
    }

    & > .prompt_text {
        font-size: 1.3rem;
    }
    & > .prompt_input {
        display: flex;
        align-items: center;
        width: 60%;
        height: 30px;
        margin: auto;
        margin-top: 20px;
        padding: 10px;
        font-size: 1.5rem;
    }

    .action_buttons {
        position: fixed;
        opacity: 0;
        margin-top: 20px;
        width: 100%;
        bottom: 20px;
        margin: auto;
        display: flex;
        justify-content: flex-end;
        transition: opacity 0.1s ease-in-out;
        .confirm {
            color: white;
            margin-right: 10px;
            padding: 5px 10px;
            background-color: rgba(238, 26, 26, 0.945);
        }
        .cancel {
            color: white;
            margin-right: 20px;
            padding: 5px 10px;
            background-color: rgb(71, 69, 69);
        }
    }
}

.modal_anim {
    opacity: 1;
    width: 500px;
    height: 200px;
    & > .title,
    .text,
    .prompt_text {
        opacity: 1;
    }
    & > .action_buttons {
        opacity: 1;
    }
}
