// @import "../../css/brand.scss";

:root {
    --nav-bar-height: 40px;
}

.head-container {
    display: flex;
    height: var(--nav-bar-height);
    background-color: var(--nav-bg);
    color: white;
}
.logo {
    display: flex;
    align-items: center;
    margin-top: -2px;
    margin-left: 10px;
    padding: 0px 10px;
    height: 100%;
    width: 275px;
    font-family: "Monofett", cursive;
    font-size: 2.2rem;
    font-weight: lighter;
    user-select: none;
    // border: 1px solid red;
}
.nav-bar {
    margin-left: auto;
}
.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    height: 100%;
}
.nav-list-item {
    width: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0px 10px;
    font-family: "Big Shoulders Display", cursive;
    font-size: 0.9rem;
    letter-spacing: 3px;
    cursor: pointer;
    border-right: 2px solid rgb(7, 122, 7);
}

.nav-list-item:hover {
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: gold;
    user-select: none;
}

.search-box-container {
    margin-left: 50px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    // border: 1px solid red;
}
#search-nav {
    height: 100%;
    width: 60px;
    padding: 0px 20px;
    border-radius: 12px;
    letter-spacing: 1px;
    font-size: 1rem;
    text-align: center;
    transition: width 0.2s ease-in-out;
    &::placeholder {
        font-size: 0.9rem;
    }
    &:focus {
        width: 300px;
        border-radius: 10px;
    }
}

#search-nav-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    height: 100%;
    width: 30px;
    cursor: pointer;
    transition: font-size 0.1s ease-in-out;
    &:hover {
        color: red;
        font-size: 1.2rem;
    }
    &:active {
        font-size: 0.8rem;
    }
}
