// @import "../../css/brand.scss";

:root {
    --nav-bar-height: 45px;
}

.head-container {
    display: flex;
    position: fixed;
    z-index: 5;
    top: 0px;
    width: 100%;
    height: var(--nav-bar-height);
    background-color: var(--nav-bg);
    box-shadow: 0 0px 1px 1px rgba(177, 177, 177, 0.89);
    color: white;
}
.logo {
    display: flex;
    align-items: center;
    margin-top: -2px;
    margin-left: 10px;
    padding: 0px 10px;
    height: 100%;
    font-family: "Monofett", cursive;
    font-size: 2.2rem;
    font-weight: lighter;
    user-select: none;
}

.navbar {
    margin-left: auto;
    & > .navlist {
        display: flex;
        justify-content: center;
        list-style: none;
        height: 100%;

        & > .nav-list-item {
            min-width: fit-content;
            width: 140px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 0px 10px;
            font-family: "Big Shoulders Display", cursive;
            font-size: 0.9rem;
            letter-spacing: 3px;
            cursor: pointer;
            border-right: 2px solid rgb(7, 122, 7);
            &:hover {
                font-size: 1.2rem;
                letter-spacing: 2px;
                color: gold;
                user-select: none;
            }
        }
    }
}

.search-box-container {
    margin-left: 50px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    // border: 1px solid red;

    & > #search-nav-label {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        height: 100%;
        width: 30px;
        cursor: pointer;
        transition: font-size 0.1s ease-in-out;
        &:hover {
            color: red;
            font-size: 1.2rem;
        }
        &:active {
            font-size: 0.8rem;
        }
    }

    & > #search-nav {
        height: 90%;
        width: 100px;
        padding: 0px 20px;
        border-radius: 12px;
        letter-spacing: 1px;
        font-size: 1rem;
        text-align: center;
        transition: width 0.2s ease-in-out;
        &::placeholder {
            font-size: 0.9rem;
        }
        &:focus {
            width: 300px;
            border-radius: 10px;
        }
    }
}

// MAX WIDTH 900px
@media screen and (max-width: 900px) {
    .head-container {
        height: 50px;
    }
    .search-box-container {
        margin-left: 0px;
        display: flex;
        align-items: center;
        padding: 5px 10px;

        & > #search-nav-label {
            display: none;
        }

        & > #search-nav {
            height: 80%;
            width: 100px;
            padding: 0px 20px;
            border-radius: 0px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 10px;
            letter-spacing: 1px;
            font-size: 1rem;
            text-align: center;
            transition: width 0.5s cubic-bezier(0.19, 0.43, 0.36, 0.92), border-radius 0.3s ease-in-out;
            &::placeholder {
                font-size: 0.9rem;
            }
            &:focus {
                width: 200px;
                border-radius: 15px;
            }
        }
    }
}
