/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Monofett&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Offside&family=Russo+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

:root {
    // COLORS
    --bg-red: rgba(170, 20, 20, 0.733);
    --bg-blue: rgb(92, 132, 206);
    --bg-green: rgba(146, 250, 146, 0.342);
    --bg-header: rgba(212, 169, 25, 0.89);
    --bg-header-black: rgb(114, 100, 73);

    --red-hl: rgba(230, 70, 70, 0.658);
    --green-hl: rgb(13, 218, 13);
    --blue-hl: rgb(20, 132, 238);

    --red-shadow: rgba(7, 2, 2, 0.842);
    --blue-shadow: rgba(90, 161, 241, 0.842);
    --green-shadow: rgba(103, 238, 91, 0.541);
    --white-shadow: rgba(205, 205, 205, 0.664);
    --white-text: rgb(255, 255, 255);
    --glazing-black: rgb(95, 75, 45);

    // SPECIFIC COLORS
    --brand-bg: rgb(41, 124, 183);
    --nav-bg: rgb(60, 100, 164);
    --bg-color: rgb(70, 11, 99);
    --info-date: rgb(82, 152, 218);
    --content-color: rgb(85, 85, 85);
    --footer-bg: rgba(50, 53, 52, 0.9);
    --wrapper-border-color: rgb(235, 235, 235);
    --category-page-header: var(--bg-red);
    --link-hover: rgba(7, 57, 165, 0.883);
    --content-border-color: rgba(95, 180, 250, 0.37);
    --content-hover-color: rgba(161, 78, 238, 0.493);
    --card-bg-color: rgba(241, 241, 241, 0.644);

    // FONTS
    --title-font: "Offside", cursive;
    --content-font: "Quicksand", sans-serif;
    --funky-header: "Architects Daughter", cursive;
    --post-title: "Oswald", sans-serif;
    --anton: "Anton", sans-serif;

    // FONT COLORS
    --title-color: rgb(207, 81, 7);
    --card-text-color: rgb(116, 96, 33);
    --category-text-color: rgb(97, 141, 107);

    // FONTS SIZES
    --header-font-size: 1.4rem;
    --title-font-size: 1.2rem;
    --text-font-size: 1rem;
    --meta-font-size: 0.9rem;
}
