/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Monofett&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Offside&family=Russo+One&display=swap");

* {
    margin: 0px;
    outline: none;
    font-family: "Big Shoulders Display", cursive;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--bg-color);
}

:root {
    // COLORS
    --bg-red: rgba(170, 20, 20, 0.733);
    --bg-blue: rgb(92, 132, 206);
    --bg-green: rgba(215, 245, 215, 0.342);

    --red-hl: rgba(230, 70, 70, 0.658);
    --green-hl: rgb(13, 218, 13);
    --blue-hl: rgb(20, 132, 238);

    --red-shadow: rgba(7, 2, 2, 0.842);
    --blue-shadow: rgba(90, 161, 241, 0.842);
    --green-shadow: rgba(103, 238, 91, 0.541);
    --white-shadow: rgba(204, 204, 204, 0.514);
    --white-text: rgb(255, 255, 255);
    --glazing-black: rgb(95, 75, 45);

    // SPECIFIC COLORS
    --nav-bg: rgb(32, 32, 32);
    --bg-color: rgb(245, 249, 250);
    --title-color: rgb(20, 20, 20);
    --info-date: rgb(82, 152, 218);
    --content-color: rgb(85, 85, 85);
    --footer-bg: rgb(63, 70, 75);
    --wrapper-border-color: rgb(235, 235, 235);
    --category-page-header: var(--bg-red);
    --link-hover: rgba(7, 57, 165, 0.883);
    --content-border-color: rgba(95, 180, 250, 0.37);
    --content-hover-color: rgba(161, 78, 238, 0.493);

    // FONTS
    --title-font: "Offside", cursive;
    --content-font: "Quicksand", sans-serif;
}
