.basepage_container {
    margin-top: 0px;
    display: flex;
    width: 1200px;
    min-height: 355px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 50px);
    padding: 00px 10px;
    background-color: rgba(246, 248, 236, 0.5);
    box-sizing: border-box;
    & .post_container {
        flex: 0.7;
        border: 2px solid rgb(235, 235, 235);
        margin-right: 10px;
        padding: 30px;
        background-color: white;
        & .pagetitle,
        .section_title {
            font-family: monospace;
            font-size: 2rem;
            font-weight: 500;
            margin-bottom: 30px;
            margin-top: 20px;
            font-family: var(--font-title);
        }
        & .section_title {
            font-size: 1.2rem;
            margin: 10px 0px;
        }

        & .subtitle {
            font-size: 1.1rem;
            font-weight: 350;
            margin-bottom: 10px;
            font-style: italic;
        }

        & .meta_info {
            display: block;
            margin-left: 2px;
            margin-top: 0px;
            font-size: 0.9rem;
            font-weight: 400;
            color: var(--info-date);
        }
        & .content {
            line-height: 25px;
            text-align: justify;
            color: var(--content-color);
            font-family: var(--content-font);
            font-weight: 500;
            font-size: 1rem;
        }
        .img_container {
            width: 100%;
            box-sizing: border-box;
            margin: 30px 0px;
        }
    }
    & .sidecontent_container {
        flex: 0.3;
        padding: 10px;
        background-color: white;
        border: 2px solid rgb(235, 235, 235);
    }
}
