.post_recommandation_category_page {
    display: flex;
    flex: 0.5;
    flex-direction: column;
    position: relative;
    margin: 0px 10px;
    margin-left: 5px;
    padding: 10px;
    padding-bottom: 20px;
    background-color: white;
    border: 2px solid var(--wrapper-border-color);
    overflow: auto;
    clear: both;
    & > .card_wrapper {
        width: calc(100% - 10px);
        height: 140px;
        margin: 5px !important;
        padding-left: 10px;
        transition: padding-left 0.1s ease-in-out;
        &:hover {
            padding-left: 0px;
        }
    }
    .card {
        width: 100%;
        .image_container {
            display: none;
        }
    }

    .recommandation_header {
        font-weight: 500;
        margin: 10px 5px;
        border-radius: 3px;
        color: white;
        background-color: var(--bg-red);
        padding: 5px 10px;
    }

    & > .recommandation_ad_container {
        & > .header {
            background-color: rgb(228, 181, 29);
            padding: 5px 0px;
            margin-top: 50px;
            margin-bottom: 10px;
            text-align: center;
        }
        & > .ad_container {
            width: 80%;
            margin: 0px auto;
        }
    }
}

// SCREEN SIZE 1024px
@media screen and (max-width: 1024px) {
    .post_recommandation_category_page {
        & > .card_wrapper {
            width: calc(100% - 10px);
            height: fit-content;
        }
    }
}

@media screen and (max-width: 900px) {
    .post_recommandation_category_page {
        display: flex;
        flex: 0.5;
        flex-direction: column;
        position: relative;
        margin: 0px;
        padding: 0px;
        padding-bottom: 20px;
        background-color: white;
        border: none;
        overflow: auto;
        clear: both;
        & > .card_wrapper {
            width: 100%;
            height: 160px;
            margin: 5px 0px !important;
            padding: 0px 10px;
            transition: padding-left 0.1s ease-in-out;
            &:hover {
                padding-left: 0px;
            }
        }
        .card {
            width: 100%;
            .image_container {
                display: none;
            }
        }

        .recommandation_header {
            font-weight: 500;
            margin: 10px 5px;
            border-radius: 3px;
            color: white;
            background-color: var(--bg-red);
            padding: 5px 10px;
        }
        & > .recommandation_ad_container {
            & > .header {
                background-color: rgb(228, 181, 29);
                padding: 10px 0px;
                margin-top: 50px;
                margin-bottom: 10px;
                text-align: center;
                font-size: 1.5rem;
            }
            & > .ad_container {
                width: 80%;
                margin: 0px auto;
            }
        }
    }
}
