.post_recommandation_category_page {
    display: flex;
    flex: 0.5;
    flex-direction: column;
    position: relative;
    margin: 0px 10px;
    margin-left: 5px;
    padding: 10px;
    padding-bottom: 20px;
    background-color: white;
    border: 2px solid var(--wrapper-border-color);
    overflow: auto;
    clear: both;
    & > .card_wrapper {
        width: calc(100% - 10px);
        height: 140px;
        margin: 5px !important;
        padding-left: 10px;
        transition: padding-left 0.1s ease-in-out;
        &:hover {
            padding-left: 0px;
        }
    }
    .card {
        width: 100%;
        .image_container {
            display: none;
        }
    }

    .recommandation_header {
        font-weight: 500;
        margin: 10px 5px;
        border-radius: 3px;
        color: white;
        background-color: var(--bg-red);
        padding: 5px 10px;
    }
}

// SCREEN SIZE 1024px
@media screen and (max-width: 1024px) {
    .post_recommandation_category_page {
        & > .card_wrapper {
            width: calc(100% - 10px);
            height: fit-content;
        }
    }
}
