@import "./css/brand.scss";

* {
    user-select: none;
    box-sizing: border-box;
}

p,
b,
i,
u {
    user-select: text;
}

// COMMON STYLING
a {
    color: rgb(100, 100, 100);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}
