$category-header-color: rgb(94, 89, 89);
$category-header-bgcolor: rgb(243, 243, 243);

// container-border-radius
$cbr: 10px;

.homepage {
    display: flex;
    width: 1300px;
    align-items: stretch;
    min-height: calc(100vh - 60px - 40px - 45px);
    margin: 45px auto;
    margin-top: 60px;
    & > .main {
        flex: 0.75;

        display: flex;
        flex-direction: column;

        & > .page_header {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            & > img {
                margin-right: auto;
                margin-left: 20px;
                margin-top: 10px;
                width: 120px;
                height: auto;
            }
            & > .header {
                flex: 1;
                padding: 10px;
                padding-left: 30px;

                font-size: 2.5rem;
                font-weight: 200;
                color: rgb(11, 65, 128);
                & > q {
                    font-size: 1.5rem;
                    font-variant: small-caps;
                    font-family: var(--anton);
                }

                & > span {
                    &::before {
                        content: " - ";
                    }
                    display: block;
                    margin-top: 10px;
                    color: rgb(38, 62, 92);
                    font-size: 1.2rem;
                    font-weight: 500;
                    font-style: oblique;
                }
            }
            margin-bottom: 10px;
            padding-bottom: 30px;
            background: linear-gradient(rgb(243, 243, 243), rgb(189, 226, 196));
        }

        & .homepage_category_section_container {
            flex: 1;
            & > .homepage_category_section {
                flex: 1;
                margin-bottom: 20px;
                &:first-child {
                    margin-top: 10px;
                }
                &:last-child {
                    margin-bottom: 0px;
                }

                & > .header {
                    padding: 5px 20px;
                    border-left: 4px solid var(--red-hl);
                    color: var(--white-text);
                    border-radius: $cbr $cbr 0 0;
                    color: $category-header-color;
                    background-color: $category-header-bgcolor;
                    font-weight: 300;
                    font-size: var(--header-font-size);
                    font-family: var(--funky-header);
                }

                & > .content {
                    padding: 20px;
                    padding-bottom: 50px;
                    background-color: white;
                    overflow: auto;
                    border-radius: 0 0 $cbr $cbr;

                    & > .homepage_category_post_section_container {
                        width: 30.5%;
                        float: left;
                        height: 380px;
                        margin: 10px;
                        & > .homepage_category_post_section {
                            overflow: hidden;
                            cursor: pointer;
                            background-color: white;
                            border: 1px solid rgb(227, 227, 227);
                            border-radius: 30px;
                            width: 100%;
                            height: 100%;
                            box-sizing: border-box;
                            padding: 10px 20px;
                            padding-top: 20px;
                            font-size: 1rem;

                            &::selection {
                                display: none !important;
                            }

                            transition: all 0.1s ease-in-out;
                            & > .title {
                                margin-top: 10px;
                                line-height: 25px;
                                a {
                                    font-style: var(--title-font-size);
                                    font-family: var(--post-title);
                                    transition: font-size 0.2s ease-in-out;
                                    font-weight: 100;
                                    color: var(--title-color);
                                    cursor: pointer;
                                }
                            }
                            & > .date {
                                font-size: var(--meta-font-size);
                                margin-bottom: 5px;
                                color: rgb(123, 132, 138);
                            }
                            & > .image_container {
                                width: 100%;
                                height: 40%;
                                overflow: hidden;
                                img {
                                    width: 100%;
                                    height: auto;
                                }
                            }
                            & > .text {
                                font-size: var(--text-font-size);
                                color: var(--card-text-color);
                                transition: font-size 0.2s ease-in-out;
                            }

                            &:hover {
                                position: relative;
                                z-index: 2;
                                box-shadow: -2px -5px 5px 2px var(--white-shadow);
                                height: calc(100% + 5px);
                                margin-left: 5px;
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
    & > .homepage_aside_section {
        flex: 0.25;
        margin-left: 10px;
        border-radius: 15px;
        padding: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;

        & > .ad_container {
            position: relative;
            z-index: 1;
            border: 1px solid rgba(224, 223, 223, 0.685);
            border-radius: 5px;
            & > .homepage_ad_header {
                font-size: var(--title-font-size);
                font-family: var(--funky-header);
                font-weight: 300;
                text-align: center;
                margin-bottom: 20px;
                color: white;
                background-color: var(--bg-header-black);
                padding: 5px 0px;
            }

            & > .homepage_ad_container {
                margin-left: auto;
                margin-right: auto;
                width: 80%;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .homepage {
        width: 98%;
        & > .main {
            & .homepage_category_section_container {
                & > .homepage_category_section {
                    & > .content {
                        & > .homepage_category_post_section_container {
                            width: 45%;
                            & > .homepage_category_post_section {
                                & > .image_container {
                                    width: 100%;
                                    height: 50%;
                                    overflow: hidden;
                                    img {
                                        width: 100%;
                                        height: auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .homepage {
        & > .main {
            & .homepage_category_section_container {
                & > .homepage_category_section {
                    & > .content {
                        & > .homepage_category_post_section_container {
                            width: 45%;
                            & > .homepage_category_post_section {
                                & > .image_container {
                                    width: 100%;
                                    height: 45%;
                                    overflow: hidden;
                                    img {
                                        width: 100%;
                                        height: auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// PHONE SCREEN
@media screen and (max-width: 900px) {
    .homepage {
        display: flex;
        flex-direction: column;
        margin-top: 55px;
        margin-bottom: 50px;
        width: 99%;
        align-items: stretch;
        border-radius: 10px;
        & > .main {
            flex: 1;
            padding: 0px !important;
            background-color: rgba(245, 245, 245, 0);
            border-radius: 10px;

            & > .page_header {
                display: block;
                align-items: center;
                justify-content: center;
                padding: 10px;
                & > img {
                    margin-right: auto;
                    margin-left: 20px;
                    margin-top: 10px;
                    margin-bottom: 60px;
                    margin-right: 20px;
                    width: 80px;
                    height: auto;
                    float: left !important;
                }
                & > .header {
                    flex: 1;
                    padding: 10px;
                    padding-left: 30px;

                    font-size: 1.4rem;
                    font-weight: 400;
                    color: rgb(11, 65, 128);

                    & > q {
                        font-size: 1.5rem;
                        font-variant: small-caps;
                        font-family: var(--anton);
                    }

                    & > span {
                        &::before {
                            content: " - ";
                        }
                        display: block;
                        margin-top: 10px;
                        color: rgb(38, 62, 92);
                        font-size: 1.2rem;
                        font-weight: 400;
                        font-style: oblique;
                    }
                }
                margin-bottom: 0px;
                background: linear-gradient(rgb(240, 239, 239), rgb(150, 200, 160));
            }

            & .homepage_category_section_container {
                & > .homepage_category_section {
                    flex: 1;
                    margin-bottom: 5px;
                    & > .header {
                        padding: 5px 20px;
                        border-left: 4px solid var(--red-hl);
                    }

                    & > .content {
                        padding: 0px;
                        background-color: white;
                        overflow: auto;
                        border: none;

                        & > .homepage_category_post_section_container {
                            width: 100%;
                            height: fit-content;
                            margin: 0px !important;
                            padding: 20px 0px;
                            margin-bottom: 10px !important;

                            & > .homepage_category_post_section {
                                background-color: white;
                                border: none;
                                box-sizing: border-box;
                                padding: 10px 20px;
                                font-size: 1rem;

                                & > .title > a {
                                    font-size: var(--title-font-size) !important;
                                    font-family: var(--post-title);
                                    text-decoration: underline 1px rgba(228, 82, 15, 0.616);
                                    text-underline-offset: 1px;
                                    color: var(--title-color);
                                    padding-top: 10px;
                                    padding-bottom: 0px;
                                }

                                & > .date {
                                    font-size: var(--meta-font-size);
                                    margin-bottom: 5px;
                                    color: rgb(123, 132, 138);
                                }

                                & > .image_container {
                                    display: flex;
                                    align-items: flex-end;
                                    width: 100%;
                                    height: 35%;
                                    overflow: hidden;
                                    & > img {
                                        width: 100%;
                                        height: auto;
                                    }
                                }
                                & > .text {
                                    color: var(--card-text-color);
                                    text-indent: 10px;
                                    text-align: justify;
                                }

                                &:hover {
                                    position: relative;
                                    z-index: 2;
                                    box-shadow: none;
                                    border: none;
                                    height: calc(100% + 5px);
                                    margin-left: 0px;
                                    margin-top: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
        & > .homepage_aside_section {
            flex: 0.25;
            margin: 10px;
            padding: 10px;
            border: 1px solid rgb(201, 218, 223);
            border-radius: 2px;
            background-color: white;
        }
    }
}
