.homepage {
    display: flex;
    width: 90%;
    align-items: stretch;
    min-height: calc(100vh - 60px - 40px - 45px);
    margin: 30px auto;
    margin-top: 60px;
    & > .main {
        flex: 0.75;
        background-color: white;
        padding: 10px !important;
        & > .homepage_category_section {
            flex: 1;
            margin-bottom: 50px;
            &:last-child {
                margin-bottom: 0px;
            }

            & > .header {
                padding: 5px 20px;
                border-left: 4px solid var(--red-hl);
                color: var(--white-text);
                color: black;
                font-weight: 300;
                background-color: var(--bg-header);
                font-size: var(--header-font-size);
                font-family: var(--funky-header);
            }

            & > .content {
                padding: 20px;
                padding-bottom: 50px;
                background-color: white;
                border: 1px solid rgb(201, 218, 223);
                overflow: auto;

                & > .homepage_category_post_section_container {
                    width: 30.5%;
                    float: left;
                    height: 360px;
                    margin: 10px;
                    border: 1px solid rgb(240, 218, 218);
                    & > .homepage_category_post_section {
                        background-color: white;
                        width: 100%;
                        height: 100%;
                        box-sizing: border-box;
                        padding: 10px;
                        font-size: 1rem;
                        transition: box-shadow 0.5s ease-in-out, width 0.2s ease-in-out, height 0.2s ease-in-out,
                            margin-left 0.2s ease-in-out, border-width 2s ease-in-out;
                        & > .title {
                            margin-top: 10px;
                            font-style: var(--title-font-size);
                            font-family: var(--post-title);
                            transition: font-size 0.2s ease-in-out;
                            font-weight: 100;
                            color: var(--title-color);
                            // transition: font-size 0.1s ease-in-out;
                        }
                        & > .date {
                            font-size: var(--meta-font-size);
                            margin-bottom: 5px;
                            color: rgb(123, 132, 138);
                        }
                        & > .image_container {
                            width: 100%;
                            height: 40%;
                            overflow: hidden;
                            img {
                                width: 100%;
                                height: auto;
                            }
                        }
                        & > .text {
                            font-size: var(--text-font-size);
                            color: var(--card-text-color);
                            transition: font-size 0.2s ease-in-out;
                        }

                        &:hover {
                            position: relative;
                            z-index: 2;
                            cursor: pointer;
                            box-shadow: 0px -10px 10px 2px var(--white-shadow);
                            border: 1px solid rgb(189, 188, 188);
                            width: 105%;
                            height: 105%;
                            & > .title {
                                font-size: 1.3rem;
                            }
                            & > .text {
                                font-size: 1.05rem;
                            }
                        }
                    }
                }
            }
        }
    }
    & > .homepage_aside_section {
        flex: 0.25;
        margin-left: 10px;
        border: 1px solid rgb(201, 218, 223);
        border-radius: 2px;
        background-color: white;
        display: flex;
        flex-direction: column;

        & > .ad_container {
            margin: 10px;
            border: 1px solid rgba(196, 192, 192, 0.685);
            border-radius: 5px;
            & > .homepage_ad_header {
                font-size: var(--title-font-size);
                font-family: var(--funky-header);
                font-weight: 300;
                text-align: center;
                margin-bottom: 20px;
                color: white;
                background-color: var(--bg-header-black);
                padding: 5px 0px;
            }

            & > .homepage_ad_container {
                margin-left: auto;
                margin-right: auto;
                width: 80%;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .homepage {
        width: 100%;
        & > .main {
            & > .homepage_category_section {
                & > .content {
                    & > .homepage_category_post_section_container {
                        width: 45%;
                    }
                }
            }
        }
    }
}

// PHONE SCREEN
@media screen and (max-width: 900px) {
    .homepage {
        display: flex;
        flex-direction: column;
        margin-top: 55px;
        width: 100%;
        align-items: stretch;
        border-radius: 10px;
        & > .main {
            flex: 1;
            padding: 5px 10px !important;
            background-color: rgba(245, 245, 245, 0);
            border-radius: 10px;
            & > .homepage_category_section {
                flex: 1;
                margin-bottom: 5px;
                &:last-child {
                    margin-bottom: 0px !important;
                }
                & > .header {
                    padding: 5px 20px;
                    border-left: 4px solid var(--red-hl);
                    color: white;
                    background-color: var(--bg-header);
                    font-size: var(--header-font-size);
                }

                & > .content {
                    padding: 0px;
                    background-color: white;
                    overflow: auto;
                    border: none;

                    & > .homepage_category_post_section_container {
                        width: 100%;
                        height: fit-content;
                        margin: 0px !important;
                        padding: 20px 0px;
                        margin-bottom: 10px !important;
                        & > .homepage_category_post_section {
                            background-color: white;
                            width: 100%;
                            height: 100%;
                            box-sizing: border-box;
                            padding: 10px 20px;
                            font-size: 1rem;
                            transition: box-shadow 0.3s ease-in-out, width 0.2s ease-in-out, height 0.2s ease-in-out,
                                margin-left 0.2s ease-in-out, font-size 0.1s ease-in-out;
                            & > .title {
                                font-size: var(--title-font-size);
                                font-family: var(--post-title);
                                text-decoration: underline 1px rgba(228, 82, 15, 0.616);
                                text-underline-offset: 1px;
                                color: var(--title-color);
                                padding-top: 10px;
                                padding-bottom: 0px;
                            }

                            & > .date {
                                font-size: var(--meta-font-size);
                                margin-bottom: 5px;
                                color: rgb(123, 132, 138);
                            }

                            & > .image_container {
                                display: flex;
                                align-items: flex-end;
                                width: 100%;
                                height: 35%;
                                overflow: hidden;
                                & > img {
                                    width: 100%;
                                    height: auto;
                                }
                            }
                            & > .text {
                                color: var(--card-text-color);
                                text-indent: 10px;
                                text-align: justify;
                            }

                            &:hover {
                                position: relative;
                                z-index: 2;
                                cursor: pointer;
                                box-shadow: none;
                                border: none;
                                width: 100%;
                                height: 100%;
                                font-size: 1rem;
                                margin-left: 0px;
                                & > .title {
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        & > .homepage_aside_section {
            flex: 0.25;
            margin: 10px;
            padding: 10px;
            border: 1px solid rgb(201, 218, 223);
            border-radius: 2px;
            background-color: white;
        }
    }
}
